<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HEADER</title>
  </head>
  <body>
    <header class="h-screen bg-blue-200 hover:bg-red-300">
      <div class="flex flex-row items-center font-extrabold text-2xl sm:border-2 ">
        <div>
          <img src="Penguins.jpg" class="h-24 w-24 mr-8 rounded-full" alt="logo" />
        </div>
        <div class="text-red-900">TORTURE</div>
      </div>
      
      <ul class=" flex flex-col justify-between  flex-grow border-2 mt-8 items-center sm:flex-row ">
        <li class="p-4 text-red-900">HOME</li>
        <li class="p-4 text-red-900">BLOG</li>
        <li class="p-4 text-red-900">LINK</li>
        <li class="p-4 text-red-900">ABOUT US</li>
      </ul>
    </div>
      
    </header>
  </body>
  <link
    href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
    rel="stylesheet"
  />
</html>
