<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>table layout</title>
  </head>
  <body>
    <table
      class="table-auto w-full border-2 bg-gray-200 border-separate rounded-b-lg"
    >
      <h1
        class="text-center text-2xl border-2 border-gray-600 bg-gray-500 rounded-t-lg"
      >
        Users
      </h1>

      <thead>
        <tr>
          <th>Picture</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>comments</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img src="./flower.jpg" class="w-10 h-10 rounded-full" alt="" />
          </td>
          <td>jane</td>
          <td>jane.doe@foo.com</td>
          <td>018002000</td>
          <td>dollar</td>
        </tr>
        <tr>
          <td>
            <img src="./Penguins.jpg" class="w-10 h-10 rounded-full" alt="" />
          </td>
          <td>jone</td>
          <td>jone.doe@foo.com</td>
          <td>018002000</td>
          <td>taka</td>
        </tr>
        <tr>
          <td>
            <img src="../bird.jpg" class="w-10 h-10 rounded-full" alt="" />
          </td>
          <td>smith</td>
          <td>smith.doe@foo.com</td>
          <td>018002000</td>
          <td>euro</td>
        </tr>
        <tr>
          <td>
            <img src="../organic.jpg" class="w-10 h-10 rounded-full" alt="" />
          </td>
          <td>jonesmith</td>
          <td>jonesmith.doe@foo.com</td>
          <td>018002000</td>
          <td>rupee</td>
        </tr>
      </tbody>
    </table>
  </body>

  <link
    href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
    rel="stylesheet"
  />
</html>
